[submodule "bundle/commentify"]
	path = pack/third-party/start/commentify
	url = git@github.com:Jaymon/vim-commentify.git
	branch = master
[submodule "bundle/nerdtree"]
	path = pack/third-party/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "bundle/nerdtree-tabs"]
	path = pack/third-party/start/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
	branch = master
[submodule "bundle/tagbar"]
	path = pack/third-party/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
[submodule "bundle/surround"]
	path = pack/third-party/start/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "bundle/addon_mw_utils"]
	path = pack/third-party/start/addon_mw_utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	branch = master
[submodule "bundle/snipmate"]
	path = pack/third-party/start/snipmate
	url = https://github.com/garbas/vim-snipmate.git
	branch = master
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
	branch = master
