[submodule "bundle/commentify"]
	path = bundle/commentify
	url = git@github.com:Jaymon/vim-commentify.git
	branch = master
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
	branch = master
